*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
    height: 100vh;
    font-size: 16px;
    display: grid;
    place-items: center;
    background-color: rgb(242,242,242)
}

main {
    margin: 10rem;
    display: grid;
    gap: 2rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.search-refine {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
  gap: 1rem;
  border: 1px solid #ccc;
}

label {
  display: block;
  color: rgb(51, 51, 51);
  font-size:0.9rem;
}

select {
  width: 100%;
  padding: 0.2rem;
  background-color: rgb(250,250,250);
  color: rgb(67,122,38);
  border: 1px solid #ccc;
}

button {
  background-color: rgb(67,122,38);
  color: white;
  border: none;
  padding: 0.5rem;
}

.MP-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.MP-Overview {
    display: flex;
    background-color: white;
}
.MP-Overview > div {
    padding: 1rem;
  }

.MP-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .label {
    font-weight: bold;
  }
